bin/
obj/
.vs/

storage/cache/*
storage/db/*
storage/fights/*
storage/logs/*
storage/patch-metadata.json
storage/comp-helper-config.json

!storage/cache/.gitkeep
!storage/db/.gitkeep
!storage/fights/.gitkeep
